<app-page-header title="Galeria de Avatares 3D" module="3" subtitle="Clique nas imagens para explorar"></app-page-header>
<div class="gallery-container">
    <a routerLink="/app/modeling/model-view" [queryParams]="{ model: 1 }" class="image-link">
        <div class="image-card">
            <img src="/3d/thumbs/model_1.png" alt="Saia Base">
            <div class="image-title">Saia Base</div>
        </div>
    </a>
    <a routerLink="/app/modeling/model-view" [queryParams]="{ model: 2 }" class="image-link">
        <div class="image-card">
            <img src="/3d/thumbs/model_2.png" alt="Saia Evasê Média">
            <div class="image-title">Saia Evasê</div>
        </div>
    </a>
    <a routerLink="/app/modeling/model-view" [queryParams]="{ model: 3 }" class="image-link">
        <div class="image-card">
            <img src="/3d/thumbs/model_3.png" alt="Saia Evasê Lateral">
            <div class="image-title">Saia Evasê Lateral</div>
        </div>
    </a>
    <a routerLink="/app/modeling/model-view" [queryParams]="{ model: 4 }" class="image-link">
        <div class="image-card">
            <img src="/3d/thumbs/model_4.png" alt="Saia Evasê com Recortes">
            <div class="image-title">Saia Evasê com Recortes</div>
        </div>
    </a>
    <a routerLink="/app/modeling/model-view" [queryParams]="{ model: 5 }" class="image-link">
        <div class="image-card">
            <img src="/3d/thumbs/model_5.png" alt="Saia Evasê Longa">
            <div class="image-title">Saia Evasê Longa</div>
        </div>
    </a>
</div>