@if (currentSlide) {
    <img  id="slides" [src]="currentSlide.slideUrl">
}
<div id="navigate">
    @if (_currentSlideIndex > 0) {
        <div (click)="handlePrevious()">
            <img src="/imgs/arrow_left.png">
        </div>
    } @else {
        <div>
            <img src="/imgs/arrow_left.png" style="filter: opacity(0.15) grayscale(1);">
        </div>
    }
    <div id="time-line">
        <div class="empty"></div>
        <div class="step-text">PASSO {{ _currentSlideIndex + 1 }} / {{ slides.length }} </div>
        <div class="empty"></div>
    </div>
    @if (_currentSlideIndex !== slides.length - 1) {
        <div (click)="handleNext()">
            <img src="/imgs/arrow_right.png">
        </div>
    } @else {
        <div>
            <img src="/imgs/arrow_right.png" style="filter: opacity(0.15) grayscale(1);">
        </div>
    }
</div>
@if (currentSlide) {
    <pre class="description">{{ currentSlide.text }}</pre>
}

@if (showAudioPlayer) {
    <div class="audioPlayer">
        <audio controls>
            <source [src]="currentSlide.audioUrl" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
}

<div id="options">
    @if (currentSlide.audioUrl) {
        <div (click)="handlePlayAction(1)">
            <img src="/imgs/head_phone_icon.png">
        </div>
    }
    @if (currentSlide.videoUrl) {
        <div (click)="handlePlayAction(2)">
            <img src="/imgs/video_icon.png">
        </div>
    }
    @if (currentSlide.pdfUrl) {
        <div (click)="handlePlayAction(3)">
            <img src="/imgs/doc_icon.png">
        </div>
    }
    @if (currentSlide.model3dUrl) {
        <div (click)="handlePlayAction(4)">
            <img src="/imgs/3d_icon.png">
        </div>
    }
    @if (currentSlide.slideUrl) {
        <div (click)="handlePlayAction(5)">
            <img src="/imgs/ar_icon.png">
        </div>
    }
    @if (currentSlide.imageUrl) {
        <div (click)="handlePlayAction(6)">
            <img src="/imgs/body_icon.png">
        </div>
    }
</div>

@if (showModal) {
    <div class="modal">
        @if (currentAction === 2) {
             <video style="width: 100vw" controls autoplay>
                <source [src]="currentSlide.videoUrl" type="video/mp4">
             </video>
        } @else if (currentAction === 4) {
            <app-gltf-viewer [modelPath]="currentSlide.model3dUrl!"/>
        } @else if (currentAction === 5) {
            <app-comparator-ar-component [slideUrl]="currentSlide.slideUrl"></app-comparator-ar-component>
        } @else if (currentAction === 6) {
            <img [src]="currentSlide.imageUrl">
        }
        <div class="close-btn" (click)="handleCloseModal($event)">
            <svg viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <path style="fill:#6e6e6e;stroke:none;stroke-width:0.999999" d="M 32 1.5 A 30.5 30.5 0 0 0 1.5 32 A 30.5 30.5 0 0 0 32 62.5 A 30.5 30.5 0 0 0 62.5 32 A 30.5 30.5 0 0 0 32 1.5 z M 18.798828 12.798828 L 32 26 L 45.201172 12.798828 L 51.201172 18.796875 L 38 31.998047 L 51.201172 45.201172 L 45.201172 51.201172 L 31.998047 38 L 18.796875 51.201172 L 12.798828 45.201172 L 26 32 L 12.798828 18.798828 L 18.798828 12.798828 z " />
             </svg>
        </div>
    </div>
}
