:host {
    #slides {
        width: 100%;
    }

    #navigate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .5rem;

        div {
            width: 3.5rem;
            
            img {
                width: 100%;
            }
        }

        #time-line {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;

            .empty {
                width: 25%;
            }

            .step-text {
                font-weight: 600;
                color: var(--primary-color);
                text-align: center;
                width: 50%;
            }
        }
    }
    
    #text {
        font-size: small;
        text-align: center;
        color: var(--primary-color);
        margin: 0.8rem;
    }

    #options {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: .5rem;

        div {
            width: 4rem;

            img {
                width: 100%;
            }
        }
    }

    .audioPlayer {
        audio {
            width: 100%;
            margin: 0.5rem 0;
        }
    }

    .description {
        margin: 0 1rem 18px 1rem;
        color: var(--secondary-color);
        background: rgb(0 0 0 / 5%);
        padding: 6px;
        border-radius: 6px;
        font-size: small;
    }
}