:host {
    #slides {
        width: 100%;
    }

    #navigate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .5rem;

        div {
            width: 3.5rem;
            
            img {
                width: 100%;
            }
        }

        #time-line {
            display: flex;
            align-items: center;
            width: 100%;

            .filled {
                width: 100%;
                background: black;
                height: 5px;
            }

            .current-point {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                width: 100%;
                background: black;
                height: 5px;

                div {
                    width: 12px;
                    height: 12px;
                    background: black;
                    border-radius: 6px;
                }
            }

            .empty {
                width: 100%;
                background: black;
                height: 2px;
            }
        }
    }
    
    #text {
        font-size: small;
        text-align: justify;
        color: var(--primary-color);
        margin: 0.8rem;
    }

    #options {
        display: flex;
        justify-content: center;
        gap: 1rem;

        div {
            width: 4rem;

            img {
                width: 100%;
            }
        }
    }
}