<app-page-header title="Confeção" module="5" subtitle="Indica os pormenores da tua saia"></app-page-header>
@if (showGallery) {
    <app-video-gallery-componente
        [videos]="videos"
        [currentVideoIndex]="currentVideoIndex"
        (currentVideoIndexChange)="handleChangeVideo($event)">
    </app-video-gallery-componente>
} @else {
    <div class="empty-video">
        <span>Seleciona os pormenores da tua saia abaixo</span>
        <br>
        <img src="/imgs/down_arrow.svg">
    </div>
}
<div class="container">
    <div class="select">
        <select id="1" [(ngModel)]="select1Id" (ngModelChange)="handleSelectChange()">
            <option value="0" disabled selected>Pinça / Recorte</option>
            <option value="1">Com pinça</option>
            <option value="2">Sem pinça</option>
            <option value="3">Com recorte</option>
        </select>
    </div>
    <div class="select">
        <select id="2" [(ngModel)]="select2Id" (ngModelChange)="handleSelectChange()">
            <option value="0" disabled selected>Acabamento cintura</option>
            <option value="1">Cinta</option>
            <option value="2">Limpeza interna</option>
        </select>
    </div>
    <div class="select">
        <select id="3" [(ngModel)]="select3Id" (ngModelChange)="handleSelectChange()">
            <option value="0" disabled selected>Acabamento barra</option>
            <option value="1">Bainha de 1 dobra</option>
            <option value="2">Bainha de 2 dobra</option>
        </select>
    </div>
    <div class="ar-btn">
        <a [routerLink]="['/app/making/ar']">
            <img _ngcontent-ng-c3246001928="" src="/imgs/ar_icon.png">
        </a>
    </div>
</div>
