<div class="create-title">
    <div>
        <div style="font-size:large;font-weight:bold;color:var(--secondary-color);">Criação</div>
        <div style="color:var(--primary-color);">Módulo 1</div>
        <div style="font-size:smaller;color:var(--secondary-color);">Seleciona os pormenores da sua saia</div>
    </div>
    <a routerLink="/home">
        <div style="font-size: x-small;padding-top: 1rem;">Voltar ao menu</div>
    </a>
</div>

<img [src]="frankenstein">

<div class="container">
    <div class="select">
        <select id="1" [(ngModel)]="comprimentoId">
            <option value="0" disabled selected>COMPRIMENTO</option>
            <option value="1">Curta</option>
            <option value="2">Média</option>
            <option value="3">Longa</option>
        </select>
    </div>
    <div class="select">
        <select id="2" [(ngModel)]="pincaId">
            <option value="0" disabled selected>PINÇA</option>
            <option value="1">Sem pinça</option>
            <option value="2">Com pinça</option>
            <option value="3">Com recorte</option>
        </select>
    </div>
    <div class="select">
        <select id="3" [(ngModel)]="amplitudeId">
            <option value="0" disabled selected>AMPLITUDE</option>
            <option value="1">Menos ampla</option>
            <option value="2">mais ampla</option>
        </select>
    </div>
    <div class="select">
        <select id="4" [(ngModel)]="cintaId">
            <option value="0" disabled selected>CINTA</option>
            <option value="1">com cinta</option>
            <option value="2">Limpeza interna</option>
        </select>
    </div>
</div>
