:host {
    .gallery {
        display: flex;
        padding: 0.5rem;

        .photo {
            width: 100%;
            border-right: 1px solid rgba(0, 0, 0, 0.5);
            padding-right: 3px;
            margin-right: 3px;

            img {
                width: 100%;
            }
        }

        .thumbnails {
            width: 35px;

            img {
                width: 100%;
            }
        }
    }

    .modal {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 90;
        width: 100vw;
        height: 100vh;
        background-color: white;
        overflow: auto;

        .zoom {
            z-index: 95;
        }
    }


    .close-btn {
        position: fixed;
        top: 12px;
        right: 12px;
        z-index: 100;
        width: 32px;

    }
}