<app-page-header title="Corte" module="4" subtitle="Corta tua saia"></app-page-header>
<div class="display-video">
    @if (showVideo) {
        <video controls>
            <source [src]="currentSlide.videoUrl" />
        </video>
    } @else {
        <div style="text-align: center;">carregando...</div>
    }
</div>
<div class="head-title">{{ 'Passo ' + (_currentSlideIndex + 1) }}</div>
<div class="head-title" style="color: var(--secondary-color);">{{ currentSlide.text }}</div>
<div class="nav-btns">
    <div (click)="handlePrevious()">
        @if (_currentSlideIndex > 0) {
            <img src="/imgs/arrow_left.png">
        } @else {
            <img src="/imgs/arrow_left.png" style="filter: opacity(0.15) grayscale(1);">
        }
    </div>
    @if (currentSlide.showArBtn) {
        <div (click)="handleShowModal()">
            <img src="/imgs/ar_icon.png">
        </div>
    }
    <div (click)="handleNext()">
        @if (_currentSlideIndex === slides.length - 1) {
            <img src="/imgs/arrow_right.png" style="filter: opacity(0.15) grayscale(1);">
        } @else {
            <img src="/imgs/arrow_right.png">
        }
    </div>
</div>
@if (showModal) {
    <div class="modal">
        <div class="close-btn" (click)="showModal = false">
            <svg viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
                <path style="fill:#6e6e6e;stroke:none;stroke-width:0.999999"
                    d="M 32 1.5 A 30.5 30.5 0 0 0 1.5 32 A 30.5 30.5 0 0 0 32 62.5 A 30.5 30.5 0 0 0 62.5 32 A 30.5 30.5 0 0 0 32 1.5 z M 18.798828 12.798828 L 32 26 L 45.201172 12.798828 L 51.201172 18.796875 L 38 31.998047 L 51.201172 45.201172 L 45.201172 51.201172 L 31.998047 38 L 18.796875 51.201172 L 12.798828 45.201172 L 26 32 L 12.798828 18.798828 L 18.798828 12.798828 z " />
            </svg>
        </div>
        <app-comparator-ar-component [slideUrls]="currentSlide.imgUrls!"></app-comparator-ar-component>
    </div>
}