<div class="container">
    <img src="imgs/topbar_background2.svg">
    <div class="main-menu">
        @for (menu of getSitemap(); track menu; let i = $index) {
            <a class="main-bnt" [routerLink]="menu.url">
                <img [src]="menu.imageUrl">
                <div class="main-bnt-div">
                    <div class="menu-name">{{ menu.text }}</div>
                    <div class="sub-menu-name">Módulo {{ i + 1 }}</div>
                </div>
            </a>
        }
        <div style="height: 10vh;"></div>
    </div>
</div>