<div class="topbar">
    <img src="/imgs/design_wear_logo_2.png">
</div>

<div class="container">
    <a class="main-bnt" routerLink="/">
        <div>
            <img src="/imgs/saia_icon.png">
            <span>CRIAÇÃO</span>
        </div>
    </a>
    <a class="main-bnt" routerLink="/">
        <div>
            <img src="/imgs/base_icon.png">
            <span>BASE</span>
        </div>
    </a>
    <a class="main-bnt" routerLink="/">
        <div>
            <img src="/imgs/modelagem_icon.png">
            <span>MODELAGEM</span>
        </div>
    </a>
    <a class="main-bnt" routerLink="/">
        <div>
            <img src="/imgs/tesoura_icon.png">
            <span>MODELAGEM</span>
        </div>
    </a>
    <a class="main-bnt" routerLink="/">
        <div>
            <img src="/imgs/maquina_icon.png">
            <span>CONFECÇÃO</span>
        </div>
    </a>
</div>