div.container {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
}

div.container > img {
    width: 100vw;
}

div.container > .main-menu {
    height: 75vh;
    overflow-y: scroll;
}

a.main-bnt {
    display: flex;
    gap: 1rem;
    text-decoration: unset;
    margin: 1.5rem 2rem;
}

.main-bnt-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.main-bnt > img {
    width: 5.5rem;
}

a.main-bnt > div > div.menu-name {
    font-size: 1.7rem;
    color: white;
}

a.main-bnt > div > div.sub-menu-name {
    font-size: 1.1rem;
    color: var(--primary-color);
}
