<div class="create-title">
    <div>
        <div style="font-size:large;font-weight:bold;color:var(--secondary-color);">Modelagem</div>
        <div style="color:var(--primary-color);">Módulo 3</div>
        <div style="font-size:smaller;color:var(--secondary-color);">Alterar cada pormenor sobre a base</div>
    </div>
    <a routerLink="/home">
        <div style="font-size: x-small;padding-top: 1rem;">Voltar ao menu</div>
    </a>
</div>

<div class="container">
    <img src="/imgs/modeling/banner.png">
</div>

<div class="buttons">
    <div class="modeling-btn2" routerLink="/app/modeling/comprimento">
        <div>COMPRIMENTO</div>
    </div>
    
    <div class="modeling-btn2" routerLink="/app/modeling/recorte">
        <div>RECORTE</div>
    </div>
    
    <div class="modeling-btn2" routerLink="/app/modeling/amplitude-1">
        <div>AMPLITUDE</div>
    </div>
    
    <div class="modeling-btn2" routerLink="/app/modeling/acabamento-1">
        <div>ACABAMENTO</div>
    </div>

    <div class="modeling-btn2" routerLink="/app/modeling/moldes-1">
        <div>MOLDES</div>
    </div>
</div>
