<app-page-header title="Modelagem" module="3" subtitle="Começa a elaborar a tua base"></app-page-header>
<div class="container">
    <img src="/imgs/modeling/banner.png">
</div>
<div class="buttons">
    <div class="modeling-btn2" routerLink="/app/modeling/comprimento">
        <div>Comprimento</div>
    </div>
    
    <div class="modeling-btn2" routerLink="/app/modeling/recorte">
        <div>Recorte</div>
    </div>
    
    <div class="modeling-btn2" routerLink="/app/modeling/amplitude-1">
        <div>Amplitude</div>
    </div>
    
    <div class="modeling-btn2" routerLink="/app/modeling/acabamento-1">
        <div>Acabamento</div>
    </div>

    <div class="modeling-btn2" routerLink="/app/modeling/moldes-1">
        <div>Moldes</div>
    </div>
</div>
