.create-title {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.container {
    margin: 0 4rem;

    img {
        width: 100%;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 0 6rem;
    gap: 1rem;
}

.modeling-btn2 {
    display: flex;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    justify-content: center;
    padding: 6px;
    font-weight: bold;

    div {
        color: var(--primary-color);
    }
}
