<div class="head-title">3º - ALTERAR A BASE</div>
<div class="sub-title"><span>&#9900;</span> Seguir as orientações e alterar cada pormenor sobre a base</div>
<div class="sub-title"><span>&#9900;</span> Construir os moldes da saia evasê </div>

<div class="container">
    <div class="buttons">
        <div class="modeling-btn" routerLink="/app/modeling/comprimento">
            <img src="/imgs/comprimento_icon.png">
            <div>COMPRIMENTO</div>
        </div>
        
        <div class="modeling-btn" routerLink="/app/modeling/recorte">
            <img src="/imgs/pinca_icon.png">
            <div>RECORTE</div>
        </div>
        
        <div class="modeling-btn" routerLink="/app/modeling/amplitude-1">
            <img src="/imgs/amplitude_icon.png">
            <div>AMPLITUDE</div>
        </div>
        
        <div class="modeling-btn" routerLink="/app/modeling/acabamento-1">
            <img src="/imgs/acabamento_icon.png">
            <div>ACABAMENTO</div>
        </div>

        <div class="modeling-btn" routerLink="/app/modeling/moldes-1">
            <img src="/imgs/moldes_icon.png">
            <div>MOLDES</div>
        </div>
    </div>
</div>
