.container {
    background-image: url(/imgs/modeling/img_menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 0rem 1.5rem;
}

.buttons {
    position: absolute;
    display: flex;
    width: 65vw;
    right: 20px;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
}

.sub-title {
    font-size: small;
    font-weight: 500;
    color: var(--primary-color);
    margin: 6px;
}
