.topbar {
    background-image: url(/imgs/topbar_background.svg);
    background-position: center;
    background-size: cover;
    margin-bottom: 2.5rem;
}

.topbar > div.logo > img {
    width: 75%;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 2rem 0 0 0;
}

.top-menu {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: -2.5rem;
}

.top-menu > a {
    display: block;
}
