<div class="topbar">
    <img src="/imgs/design_wear_logo_2.png">
</div>
@if (showMenu()) {
    <div class="top-menu">
        <a class="main-bnt" routerLink="/criacao/saia-1">
            <img src="/imgs/saia_icon.png">
        </a>
        <a class="main-bnt" routerLink="/">
            <img src="/imgs/base_icon.png">
        </a>
        <a class="main-bnt" routerLink="/">
            <img src="/imgs/modelagem_icon.png">
        </a>
        <a class="main-bnt" routerLink="/">
            <img src="/imgs/tesoura_icon.png">
        </a>
        <a class="main-bnt">
            <img src="/imgs/maquina_icon.png">
        </a>
    </div>
}
