<a class="saia-btn" routerLink="/app/creation/saia-1">
    <div>CURTA COM RECORTES</div>
    <img src="/imgs/saias/saia_1.png">
</a>
<a class="saia-btn" routerLink="/app/creation/saia-2">
    <div>LONGA (anca justa)</div>
    <img src="/imgs/saias/saia_2.png">
</a>
<a class="saia-btn" routerLink="/app/creation/saia-3">
    <div>LONGA AMPLA</div>
    <img src="/imgs/saias/saia_3.png">
</a>
<a class="saia-btn" routerLink="/app/creation/saia-4">
    <div>CURTA COM PINÇAS</div>
    <img src="/imgs/saias/saia_4.png">
</a>
<a class="saia-btn" routerLink="/app/creation/frankensteins">
    <div>Crie</div>
    <img src="/imgs/saias/frankensteins.png">
</a>

