/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-app: white;
    --primary-color: #A233DA;
    --secondary-color: #3A1A5B;
}

html {
    height: 100%;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: var(--background-app);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.home-btn {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;

    a {
        display: block;
        width: 3rem;
    }

    img {
        width: 100%;
    }
}

.head-title {
    text-align: center;
    font-size: medium;
    font-weight: 500;
    color: var(--primary-color);
    margin: 6px;
}

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    div.close-btn {
        position: fixed;
        top: 12px;
        right: 12px;
        z-index: 100;
        width: 32px;
    }
}


.modeling-btn {
    display: flex;
    align-items: center;

    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 4px;
    margin: 12px;
    box-shadow: 3px 4px 0 #e5e5e5;
    text-decoration: unset;

    img {
        width: 45px;
    }

    div {
        color: var(--primary-color);
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}